.game {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.square {
  width: 33.333%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  box-sizing: border-box;
  font-size: 48px;
}

@media only screen and (max-width: 426px) {
  .square {
    font-size: 24px;
  }
}